<mat-card class="mat-elevation-z3">
  <mat-card-title>Make an Quotation</mat-card-title>
  <mat-card-subtitle>Add a <strong>start</strong> and <strong>end</strong> locations</mat-card-subtitle>
  <mat-card-content>
    <form *ngIf="countries.length > 0">
      <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
          [colspan]="3"
          [rowspan]="1">
          <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput
                   aria-label="Country"
                   [matAutocomplete]="auto"
                   [formControl]="countryCtrlA">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let country of filteredCountriesA | async" [value]="country.emoji + country.name">
                <div (click)="onCountry($event, country)">
                  <span>{{country.emoji}}</span>
                  <span>{{country.name}}</span> |
                  <small>code: {{country.iso3}}</small>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="example-full-width"  appearance="outline" *ngIf="drawState">
            <mat-label>State</mat-label>
            <input matInput
                   aria-label="State"
                   [matAutocomplete]="auto"
                   [formControl]="stateCtrlA">
            <mat-autocomplete #auto="matAutocomplete" >
              <mat-option *ngFor="let state of filteredStatesA | async" [value]="state.name">
                <div (click)="onCountry($event, country)">
                  <span>{{state.name}}</span> |
                  <small>code: {{state.state_code}}</small>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="1"
          [rowspan]="2">
          Form 2
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="3"
          [rowspan]="1">
          Button
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
